#text {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

#photoOfUs {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#contact {
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}

ul {
    padding: 0;
}

#contact ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}